/*------------------------------------------------------------------
[Main Theme Styles]

Project:  Practice
Author: Anish Prabhu B

-------------------------------------------------------------------*/

/*------------------------------------------------------------------- 
For styles sheets look into --> style.scss
For Mixins look into --> mixins.scss
For variables look into --> Variables.scss 

--------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

00. Imports
01. Typography
02. Global Declarations
03.	Top Navbar
04. Side Navbar
05. Panel/card 
06. Animations
-------------------------------------------------------------------*/


/* 00. Imports */
@import 'variables', 'mixins';

/* 01. Typography */

@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

#SideNavBar {
    font-family: 'Roboto', sans-serif;
    label {
    	font-weight: 100;
    	font-size: 18px;
    }
}

h5 {
	color: #9c9ea8;
	font-weight: 100;
	vertical-align:middle;
}
.card-title {
	p {
		color:#c8cadc;
	}

}
small {
	color:#9093a8;
}


/* 02. Global Declarations */

.icon_active {
	color: #0ea40e;
}



/* 03. Top navbar */

.navbar {
	padding-left:7.1rem;
}


/* 04. Side Navbar  */

.navbar-show{
	display:none;
	button{
		background: transparent;
		border: none;
	}
	@include mobile_medium{
		display:block;
	}

}
#SideNavBar {
	border: 1px solid #dad5d5;
	border-top: 0px;
	border-bottom: 0px;
	@include mobile_medium{
		display:none;
	}
	.sidenav {
	    height: 100vh;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    background-color: #fff;
	    overflow-x: hidden;
	    padding-top: 20px;
	    padding-left:17%;
	    a {
		    padding: 6px 8px 6px 16px;
		    text-decoration: none;
		    font-size: 25px;
		    color: #818181;
		    display:block;
		    line-height:2;
			&:hover{
				color: #84baee;
			}
		    
		}
		.active {
			color: #84baee;
		}
		.img_padding {
			padding-left: 10px;
		}
	}
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* 05. Panel or card  */

#main_content {
	padding-top:20px;
	.card {
		.card-header {
			background:#99ceff;
			color : #5e9ad1;
		}
		.card-title{
			h5{
				padding-left:5px;
				padding-right:5px;
			}
			p{
				vertical-align:middle;
				font-size: 13px;
			}
		}
		.card-body {

			.row_padding {
				padding-top: 2rem;
			}
			.progress {
				height: 1.5rem;
				border-radius:0rem;
			}
			.border_box {
				border: 1px solid rgba(0,0,0,.125);
				border-radius: .25rem;	
				background: #f5f5f5;
				padding-top: 9px;
				@include mobile_large {
					margin-bottom: 20px;
				}
				@include mobile_small {
					margin-bottom: 20px;
				}
				@include mobile_medium {
					margin-bottom: 20px;
				};
				.col_padding {
					padding-left: 36%;
					padding-top: 14%;
					padding-bottom: 6%;
					@include mobile_medium{
						padding-left: 40%;	
					}
					@include mobile_large{
						padding-left: 42%;	
					}
				}
	 			.image_plus {
	 				width: 48px; 
	 			}

			}
			.border_box_service {
				background-color:#ffff;
				color: #57a1e7;
			}
			

		}
		@include mobile_large {
			margin-bottom: 20px;
		}
		@include mobile_small {
			margin-bottom: 20px;
		}
		@include mobile_medium {
			margin-bottom: 20px;
		};
	}
}


/*  06. Animations  */

@keyframes slideInFromLeft {
	0% {
	transform: translateX(-100%);
	}
	100% {
	transform: translateX(0);
	}
}
.progress-bar{
	animation: 3s ease-out 0s 1 slideInFromLeft;
}


.hover_animation:hover { 
	transform: scale(1.01);
}



