/*------------------------------------------------------------------
[Main Theme Styles]

Project:  Practice
Author: Anish Prabhu B
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

00. Imports
01. Typography
02. Global Declarations
03. Side Navbar
-------------------------------------------------------------------*/


/* 00. Imports */
@import 'variables', 'mixins';

/* 01. Typography */



/* 02. Global Declarations */



/* Side Navbar  */
.sidenav {
    height: 100vh;
   // position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    a {
	    padding: 6px 8px 6px 16px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    display: block;
	    &:hover{
		    color: #f1f1f1;
		}
	}
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


